
.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  #welcome {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    font-size: 20px;
    width: 100%;
    height: 25px;
  }
  
  #main {
    font-family: 'Courier New', Courier, monospace;

    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    width: 100%;
    height: 25px;
  }
  
  #read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
  }
  #imghere{
    
    height: 300px;
    margin: auto;
  }
  #imgcontainer{
    /* height: 100%; */
    /* background-color: blue; */
  }